{% include base_path %}

<div class="slideshow-container">
    <div class="slideshow-inner">
      <div class="mySlides fade">
    
        <img  src='{{ base_path }}/images/img1.jpg' style='width: 100%;' alt="sally lightfoot crab"/>
        <div class="text">Sally Lightfoot Crab</div>
      </div>
    
      <div class="mySlides fade">
    
        <img  src='{{ base_path }}/images/img1.jpg' style='width: 100%;' alt="fighting nazca boobies"/>
        <div class="text">A scuffle between two Nazca Boobies</div>
      </div>
    
      <div class="mySlides fade">
    
        <img  src='{{ base_path }}/images/img1.jpg' style='width: 100%;' alt="otovalo waterfall"/>
        <div class="text">A waterfall discovered on a hike in Otovalo</div>
      </div>
    
      <div class="mySlides fade">
    
        <img  src='{{ base_path }}/images/img1.jpg' style='width: 100%;' alt="pelican"/>
        <div class="text">Pelican</div>
      </div>
      
      </div>
    
    
      <a class="prev" onclick='plusSlides(-1)'>&#10094;</a>
      <a class="next" onclick='plusSlides(1)'>&#10095;</a>
    </div>
    <br/>
    
    <div style='text-align: center;'>
      <span class="dot" onclick='currentSlide(1)'></span>
      <span class="dot" onclick='currentSlide(2)'></span>
      <span class="dot" onclick='currentSlide(3)'></span>
      <span class="dot" onclick='currentSlide(4)'></span>
    </div>
</div>

<script type="text/javascript">
    var initialSlide = 1;

    var myTimer;

    var slideshowContainer;

    function iniciar() {
        showSlides(slideIndex = initialSlide);
        myTimer = setInterval(function(){plusSlides(1)}, 4000);
    
        slideshowContainer = document.getElementsByClassName('slideshow-inner')[0];
    
        slideshowContainer.addEventListener('mouseenter', pause)
        slideshowContainer.addEventListener('mouseleave', resume)
    }

    
    function plusSlides(n){
        clearInterval(myTimer);
        if (n < 0){
            showSlides(slideIndex -= 1);
        } else {
        showSlides(slideIndex += 1); 
        }
        
        if (n === -1){
            myTimer = setInterval(function(){plusSlides(n + 2)}, 4000);
        } else {
            myTimer = setInterval(function(){plusSlides(n + 1)}, 4000);
        }
    }

    
    function currentSlide(n){
        clearInterval(myTimer);
        myTimer = setInterval(function(){plusSlides(n + 1)}, 4000);
        showSlides(slideIndex = n);
        }

    function showSlides(n){
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        }

    pause = () => {
    
    }

    resume = () =>{
        clearInterval(myTimer);
        myTimer = setInterval(function(){plusSlides(slideIndex)}, 4000);
    }
</script>